In [224]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [225]:
teams = pd.read_csv("teams.csv")

In [226]:
teams

     team  year  athletes  events   age  height  weight  prev_medals  medals
0     AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1     AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2     AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3     AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4     AFG  2004         5       5  18.6   170.8    64.8          0.0       0
...   ...   ...       ...     ...   ...     ...     ...          ...     ...
2009  ZIM  2000        26      19  25.0   179.0    71.1          0.0       0
2010  ZIM  2004        14      11  25.1   177.8    70.5          0.0       3
2011  ZIM  2008        16      15  26.1   171.9    63.7          3.0       4
2012  ZIM  2012         9       8  27.3   174.4    65.2          4.0       0
2013  ZIM  2016        31      13  27.5   167.8    62.2          0.0       0

[2014 rows x 9 columns]

In [227]:
train, test = train_test_split(teams, test_size=0.2, random_state=1)

In [228]:
predictors = ["athletes", "events"]
target = "medals"

In [229]:
X = train[predictors].copy()
y = train[[target]].copy()

In [230]:
X

      athletes  events
1322         6       6
1872       119      80
953          4       4
1117         2       2
1993        43      25
...        ...     ...
1791        40      25
1096        36      23
1932       719     245
235         13      11
1061        50      38

[1611 rows x 2 columns]

In [231]:
y

      medals
1322       0
1872       5
953        0
1117       0
1993       0
...      ...
1791       1
1096       1
1932     264
235        0
1061       3

[1611 rows x 1 columns]

In [232]:
x_mean = X.mean()
x_std = X.std()

In [233]:
x_mean

athletes    74.409063
events      35.990068
dtype: float64

In [234]:
X = (X - x_mean) / x_std

In [235]:
X.describe()

           athletes        events
count  1.611000e+03  1.611000e+03
mean  -2.370681e-17 -9.923781e-18
std    1.000000e+00  1.000000e+00
min   -5.768883e-01 -7.143930e-01
25%   -5.297371e-01 -6.123079e-01
50%   -4.197174e-01 -4.489717e-01
75%   -2.679027e-02  1.839560e-01
max    6.008571e+00  4.634867e+00

In [236]:
X["intercept"] = 1

In [237]:
X = X[["intercept"] + predictors]

In [238]:
X.describe()

       intercept      athletes        events
count     1611.0  1.611000e+03  1.611000e+03
mean         1.0 -2.370681e-17 -9.923781e-18
std          0.0  1.000000e+00  1.000000e+00
min          1.0 -5.768883e-01 -7.143930e-01
25%          1.0 -5.297371e-01 -6.123079e-01
50%          1.0 -4.197174e-01 -4.489717e-01
75%          1.0 -2.679027e-02  1.839560e-01
max          1.0  6.008571e+00  4.634867e+00